body{
  font-family: Calibri;
  margin: 0px;
}

p{
  font-family: Calibri;
}

h1{
  background-color: #B2B1AD;
}

.hr{
  margin: 0px;
  border: 1px;
  border-style: solid;
  margin-top: -20px;
}

.imgLogo{
  background-color: #F1ECED;
  border-style: solid;
  border-width: 2px;
  border-color: #E6E5E3;
  padding: 20px;
  width: 550px;
  margin-left: 25%;
}

.imgPelho{
  float: right;
  position: relative;
  background-color: #F1ECED;
  border-style: solid;
  border-width: 2px;
  border-color: #E6E5E3;
  padding: 20px;
  width: 300px;
}

.rodape{
  color: #777;
  margin: 30px 0;
  padding: 30px 0;
}

.rodapeImg{
  margin-right: 30px;
	vertical-align:	middle;
	width: 94px;

}

.botao{
  background-color: #DBDBF3;
  color: #0305F3;
  width: 100%;
  font-size: 44px;
}
